[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ctsfeatures"]
	path = ctsfeatures
	url = https://github.com/cran/ctsfeatures
[submodule "mlmts"]
	path = mlmts
	url = https://github.com/cran/mlmts
[submodule "otsfeatures"]
	path = otsfeatures
	url = https://github.com/cran/otsfeatures
